{deps, [
  {cuttlefish, ".*", {git, "https://github.com/emqx/cuttlefish.git", {tag, "v3.0.0"}}}
]}.


{cover_enabled, true}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{eunit_opts, [verbose]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace|mochijson2)\" : Mod)", []}]}.

{erl_first_files, [
  "src/clique_writer.erl",
  "src/clique_handler.erl"
]}.
